 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-image-1 {
  object-position: 50.26% 50%;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: auto auto 0 0;
  padding: 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-1 .u-image-1 {
    object-position: 77.35% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-image-1 {
    object-position: 62.47% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-1 .u-image-1 {
    object-position: 50.26% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-1 .u-image-1 {
    object-position: 49.15% 50%;
  }

  .u-section-1 .u-icon-1 {
    width: 37px;
    height: 37px;
    margin-top: 188px;
    padding: 3px;
  }
} .u-section-2 {
  background-image: linear-gradient(#00a6d6, #293333);
}

.u-section-2 .u-sheet-1 {
  min-height: 722px;
}

.u-section-2 .u-list-1 {
  margin-bottom: -9px;
  margin-top: 20px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 20px 20px;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 682px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-group-1 {
  width: 235px;
  height: auto;
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-2 {
  min-height: 194px;
  width: 262px;
  height: auto;
  margin: -194px 0 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 700;
  margin: 69px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-group-3 {
  width: 235px;
  height: auto;
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-4 {
  min-height: 194px;
  width: 262px;
  height: auto;
  margin: -194px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 700;
  margin: 69px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-group-5 {
  width: 235px;
  height: auto;
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-6 {
  min-height: 194px;
  width: 262px;
  height: auto;
  margin: -194px 0 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 700;
  margin: 69px 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-group-7 {
  width: 235px;
  height: auto;
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-8 {
  min-height: 194px;
  width: 262px;
  height: auto;
  margin: -194px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 700;
  margin: 69px 0 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-group-9 {
  width: 235px;
  height: auto;
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-10 {
  min-height: 194px;
  width: 262px;
  height: auto;
  margin: -194px 0 0 auto;
}

.u-section-2 .u-container-layout-15 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 700;
  margin: 69px 0 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 10px;
}

.u-section-2 .u-group-11 {
  width: 235px;
  height: auto;
  min-height: 194px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-17 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-12 {
  min-height: 194px;
  width: 262px;
  height: auto;
  margin: -194px 0 0 auto;
}

.u-section-2 .u-container-layout-18 {
  padding-right: 10px;
  padding-left: 10px;
}

.u-section-2 .u-text-6 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 700;
  margin: 69px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 16px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 267px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    width: 180px;
    margin-right: 11px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-3 {
    width: 267px;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    width: 180px;
    margin-right: 11px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-5 {
    width: 267px;
    height: auto;
  }

  .u-section-2 .u-group-6 {
    width: 180px;
    margin-right: 11px;
    height: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-7 {
    width: 267px;
    height: auto;
  }

  .u-section-2 .u-group-8 {
    width: 180px;
    margin-right: 11px;
    height: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-9 {
    width: 267px;
    height: auto;
  }

  .u-section-2 .u-group-10 {
    width: 180px;
    margin-right: 11px;
    height: auto;
  }

  .u-section-2 .u-container-layout-15 {
    padding: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-11 {
    width: 267px;
    height: auto;
  }

  .u-section-2 .u-group-12 {
    width: 180px;
    margin-right: 11px;
    height: auto;
  }

  .u-section-2 .u-container-layout-18 {
    padding: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 8px;
    margin-top: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 10px 10px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 8px 10px;
  }

  .u-section-2 .u-group-1 {
    width: 112px;
    min-height: 88px;
    margin-right: 223px;
  }

  .u-section-2 .u-group-2 {
    min-height: 89px;
    width: 203px;
    margin-top: -90px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 8px 10px;
  }

  .u-section-2 .u-group-3 {
    width: 112px;
    min-height: 88px;
    margin-right: 223px;
  }

  .u-section-2 .u-group-4 {
    min-height: 89px;
    width: 203px;
    margin-top: -90px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 8px 10px;
  }

  .u-section-2 .u-group-5 {
    width: 112px;
    min-height: 88px;
    margin-right: 223px;
  }

  .u-section-2 .u-group-6 {
    min-height: 89px;
    width: 203px;
    margin-top: -90px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding: 8px 10px;
  }

  .u-section-2 .u-group-7 {
    width: 112px;
    min-height: 88px;
    margin-right: 223px;
  }

  .u-section-2 .u-group-8 {
    min-height: 89px;
    width: 203px;
    margin-top: -90px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-13 {
    padding: 8px 10px;
  }

  .u-section-2 .u-group-9 {
    width: 112px;
    min-height: 88px;
    margin-right: 223px;
  }

  .u-section-2 .u-group-10 {
    min-height: 89px;
    width: 203px;
    margin-top: -90px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-16 {
    padding: 8px 10px;
  }

  .u-section-2 .u-group-11 {
    width: 112px;
    min-height: 88px;
    margin-right: 223px;
  }

  .u-section-2 .u-group-12 {
    min-height: 89px;
    width: 203px;
    margin-top: -90px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 37px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 244px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 4px 5px;
  }

  .u-section-2 .u-group-1 {
    width: 103px;
    min-height: 91px;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 91px;
    width: 139px;
    margin-top: -91px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 4px 5px;
  }

  .u-section-2 .u-group-3 {
    width: 103px;
    min-height: 91px;
    margin-right: auto;
  }

  .u-section-2 .u-group-4 {
    min-height: 91px;
    width: 139px;
    margin-top: -91px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 4px 5px;
  }

  .u-section-2 .u-group-5 {
    width: 103px;
    min-height: 91px;
    margin-right: auto;
  }

  .u-section-2 .u-group-6 {
    min-height: 91px;
    width: 139px;
    margin-top: -91px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-10 {
    padding: 4px 5px;
  }

  .u-section-2 .u-group-7 {
    width: 103px;
    min-height: 91px;
    margin-right: auto;
  }

  .u-section-2 .u-group-8 {
    min-height: 91px;
    width: 139px;
    margin-top: -91px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-13 {
    padding: 4px 5px;
  }

  .u-section-2 .u-group-9 {
    width: 103px;
    min-height: 91px;
    margin-right: auto;
  }

  .u-section-2 .u-group-10 {
    min-height: 91px;
    width: 139px;
    margin-top: -91px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-16 {
    padding: 4px 5px;
  }

  .u-section-2 .u-group-11 {
    width: 103px;
    min-height: 91px;
    margin-right: auto;
  }

  .u-section-2 .u-group-12 {
    min-height: 91px;
    width: 139px;
    margin-top: -91px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 13px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 10px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 193px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-1 {
    min-height: 50px;
    width: 63px;
    margin-top: 4px;
  }

  .u-section-2 .u-group-2 {
    min-height: 51px;
    width: 84px;
    margin-top: -51px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-right: 4px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-3 {
    min-height: 50px;
    width: 63px;
    margin-top: 4px;
  }

  .u-section-2 .u-group-4 {
    min-height: 51px;
    width: 84px;
    margin-top: -51px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: 4px;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-5 {
    min-height: 50px;
    width: 63px;
    margin-top: 4px;
  }

  .u-section-2 .u-group-6 {
    min-height: 51px;
    width: 84px;
    margin-top: -51px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: 4px;
  }

  .u-section-2 .u-container-layout-10 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-7 {
    min-height: 50px;
    width: 63px;
    margin-top: 4px;
  }

  .u-section-2 .u-group-8 {
    min-height: 51px;
    width: 84px;
    margin-top: -51px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 4px;
  }

  .u-section-2 .u-container-layout-13 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-9 {
    min-height: 50px;
    width: 63px;
    margin-top: 4px;
  }

  .u-section-2 .u-group-10 {
    min-height: 51px;
    width: 84px;
    margin-top: -51px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 4px;
  }

  .u-section-2 .u-container-layout-16 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-11 {
    min-height: 50px;
    width: 63px;
    margin-top: 4px;
  }

  .u-section-2 .u-group-12 {
    min-height: 51px;
    width: 84px;
    margin-top: -51px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-right: 4px;
  }
}